# SCRAPING TABLES FROM WIKI
This is really helpful in quickly automating your work

**First we need to import pandas**

In [1]:
import pandas as pd

**Load tables in a variable with pd.read_html**

*pd.read_html* : Read HTML tables into a list of DataFrame objects.

In [2]:
money_earned = pd.read_html('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2022')

**Accessing table**

Since *money_earned* is a list of tables, therefore, it can be accessed by it's index.

In [5]:
money_earned[3]

,Rank,Title,Production Company,Distributor,Worldwide Gross,Ref.
0,1,Brahmāstra: Part One – Shiva,Dharma ProductionsStar StudiosPrime FocusStarl...,Walt Disney Studios Motion Pictures,₹431 crore (US$54 million),[1]
1,2,The Kashmir Files,Zee StudiosAbhishek Agarwal Arts,Zee Studios,₹340.92 crore (US$43 million),[2][3]
2,3,Bhool Bhulaiyaa 2,T-Series FilmsCine1 Studios,AA Films,₹266.88 crore (US$33 million),[4][3]
3,4,Gangubai Kathiawadi,Bhansali ProductionsPen India Limited,Pen Marudhar Entertainment,₹209.77 crore (US$26 million),[5][3]
4,5,Drishyam 2*,Panorama StudiosViacom18 StudiosT-Series Films,Panorama StudiosYash Raj Films,₹179.27 crore (US$22 million),[6][3]
5,6,Radhe Shyam[a],UV CreationsT-Series Films,AA FilmsRed Giant MoviesRD Illuminations,₹151 crore (US$19 million)–₹214 crore (US$27 m...,[b]
6,7,Jugjugg Jeeyo,Dharma ProductionsViacom18 Studios,Viacom18 Studios,₹136.13 crore (US$17 million),[12][3]
7,8,Vikram Vedha,Reliance EntertainmentYNOT StudiosFriday Filmw...,PVR PicturesPen MurudharHome Screen Entertainment,₹135.03 crore (US$17 million),[13][3]
8,9,Laal Singh Chaddha,Aamir Khan ProductionsViacom18 Studios,Paramount Pictures,₹129.64 crore (US$16 million),[14][3]
9,10,Ram Setu,Amazon StudiosCape of Good Films,Zee Studios,₹92.64 crore (US$12 million),[15][3]

**To Check the number of tables in a webpage**

the len function returns the number of items in the list. This list contains tables as items. so the len function will return number of tables in the webpage. As you can see, there are 17 tables in the webpage.

In [7]:
len(money_earned)

17

If you try to access the 18th table by coding money_earned[17], you will get an "IndexError" since there are only 17 tables in the webpage and [17] points to the 18th table as indexing starts from 0.

In [8]:
money_earned[17]

IndexError: list index out of range

## Accessing the last table of the webpage

In [9]:
money_earned[16]

,0,1
0,Central America and the Caribbean,Antigua and Barbuda Aruba Bahamas Barbados Cub...
1,North,Canada Greenland Mexico United States
2,South,Argentina Bolivia Brazil Chile Colombia Ecuado...

# Hope it was helpful, in case you want to be in touch, here's my twitter handle @ravivermaravi